src/phpunit/testSuitesType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="pathGroup.xsd" />

    <xs:complexType name="testSuitesType">
        <xs:sequence>
            <xs:element name="testsuite" type="testSuiteType"/>
        </xs:sequence>                
    </xs:complexType>
    
    <xs:complexType name="testSuiteType">
        <xs:group ref="pathGroup"/>
        <xs:attribute name="name" type="xs:string" use="required" />        
    </xs:complexType>
    
</xs:schema>
