src/phpunit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation source="http://www.phpunit.de/manual/current/en/appendixes.configuration.html">
            This Schema file defines the rules by which the XML configuration file of PHPUnit may be structured.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="phpunit" type="phpUnitType">
        <xs:annotation>
            <xs:documentation>Root Element</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <!-- The Main Type -->

    <xs:complexType name="phpUnitType">
        <xs:annotation>
            <xs:documentation>The main type specifying the document structure</xs:documentation>
        </xs:annotation>    
        <xs:group ref="configGroup"/>
        <xs:attributeGroup ref="configAttributeGroup"/>
    </xs:complexType>

    <!-- Any globally defined Types go below here -->
    
    <xs:complexType name="testSuitesType">
        <xs:sequence>
            <xs:element name="testsuite" type="testSuiteType"/>
        </xs:sequence>                
    </xs:complexType>
    
    <xs:complexType name="testSuiteType">
        <xs:group ref="pathGroup"/>
        <xs:attribute name="name" type="xs:string" use="required" />        
    </xs:complexType>
    
    <xs:complexType name="groupsType">
        <xs:sequence>
            <xs:element name="include" type="groupType" minOccurs="0" maxOccurs="1" />
            <xs:element name="exclude" type="groupType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="groupType">
        <xs:sequence>
            <xs:element name="group" type="xs:string" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="filtersType">
        <xs:sequence>
            <xs:element name="blacklist" type="filterType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="whitelist" type="filterType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="filterType">
        <xs:sequence>
            <xs:group ref="pathGroup"/>        
            <xs:element name="exclude" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:group ref="pathGroup"></xs:group>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="addUncoveredFilesFromWhitelist" default="true" type="xs:boolean"/>        
    </xs:complexType>

    <xs:complexType name="loggersType">
        <xs:sequence>
            <xs:element name="log" type="loggerType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="directoryFilterType">
        <xs:simpleContent>
            <xs:extension base="xs:anyURI">
                <xs:attribute type="xs:string" name="suffix" default="Test.php" />
                <xs:attributeGroup ref="phpVersionGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="fileFilterType">
        <xs:simpleContent>
            <xs:extension base="xs:anyURI">
                <xs:attributeGroup ref="phpVersionGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
           
    <xs:complexType name="loggerType">
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="coverage-html"/>
                    <xs:enumeration value="coverage-clover"/>
                    <xs:enumeration value="json"/>
                    <xs:enumeration value="plain"/>
                    <xs:enumeration value="tap"/>
                    <xs:enumeration value="junit"/>
                    <xs:enumeration value="testdox-html"/>
                    <xs:enumeration value="testdox-text"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="target" type="xs:anyURI"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="charset" type="xs:string" default="UTF-8"/>
        <xs:attribute name="yui" type="xs:boolean" default="true"/>
        <xs:attribute name="highlight" type="xs:boolean" default="false"/>
        <xs:attribute name="lowUpperBound" type="xs:nonNegativeInteger" default="35"/>
        <xs:attribute name="highLowerBound" type="xs:nonNegativeInteger" default="70"/>
        <xs:attribute name="logIncompleteSkipped" type="xs:boolean" default="false"/>
    </xs:complexType>    
    
    <xs:complexType name="listenersType">
        <xs:sequence>
            <xs:element name="listener" type="objectType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>    
    
    <xs:complexType name="objectType">
        <xs:sequence>
            <xs:element name="arguments" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:group ref="argumentsGroup"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="class" type="xs:string" use="required"/>
        <xs:attribute name="file" type="xs:anyURI" use="optional"/>
    </xs:complexType>

    <xs:complexType name="arrayType">
        <xs:sequence>
            <xs:element name="element" type="argumentType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="argumentType">
        <xs:group ref="argumentChoice"/>
        <xs:attribute name="key" use="required"/>
    </xs:complexType>

    <xs:complexType name="phpType">
        <xs:sequence>
            <xs:element name="includePath" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ini" type="namedValueType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="const" type="namedValueType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="var" type="namedValueType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="env" type="namedValueType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="post" type="namedValueType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="get" type="namedValueType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cookie" type="namedValueType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="server" type="namedValueType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="files" type="namedValueType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="request" type="namedValueType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="namedValueType">
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="value" use="required" type="xs:anySimpleType"/>
    </xs:complexType>
    
    <xs:complexType name="seleniumType">
        <xs:sequence>
            <xs:element name="browser" type="browserType"/>
        </xs:sequence>
    </xs:complexType>    
    
    <xs:complexType name="browserType">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="browser" type="xs:string"/>
        <xs:attribute name="host" type="xs:anyURI"/>        
        <xs:attribute name="port" type="xs:nonNegativeInteger"/>
        <xs:attribute name="timeout" type="xs:nonNegativeInteger"/>
    </xs:complexType>

    <!-- Any globally defined AttributeGroups go here -->

    <xs:attributeGroup name="phpVersionGroup">    
        <xs:attribute name="phpVersion" type="xs:string" default="5.3.0"/>
        <xs:attribute name="phpVersionOperator" type="xs:string" default=">=" />
    </xs:attributeGroup>
    
    <xs:attributeGroup name="configAttributeGroup">
        <xs:attribute name="backupGlobals" type="xs:boolean" default="true" use="optional" />
        <xs:attribute name="backupStaticAttributes" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="bootstrap" type="xs:anyURI" use="optional" />
        <xs:attribute name="cacheTokens" type="xs:boolean" use="optional" />
        <xs:attribute name="colors" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="convertErrorsToExceptions" type="xs:boolean" default="true" use="optional" />
        <xs:attribute name="convertNoticesToExceptions" type="xs:boolean" default="true" use="optional" />
        <xs:attribute name="convertWarningsToExceptions" type="xs:boolean" default="true" use="optional" />
        <xs:attribute name="forceCoversAnnotation" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="mapTestClassNameToCoveredClassName" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="printerClass" type="xs:string" default="PHPUnit_TextUI_ResultPrinter" use="optional" />
        <xs:attribute name="processIsolation" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="stopOnError" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="stopOnFailure" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="stopOnIncomplete" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="stopOnSkipped" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="strict" type="xs:boolean" default="false" use="optional" />        
        <xs:attribute name="syntaxCheck" type="xs:boolean" default="false" use="optional" />
        <xs:attribute name="testSuiteLoaderClass" type="xs:string" default="PHPUnit_Runner_StandardTestSuiteLoader" use="optional" />
        <xs:attribute name="testSuiteLoaderFile" type="xs:anyURI" use="optional" />
        <xs:attribute name="verbose" type="xs:boolean" default="false" use="optional" />    
    </xs:attributeGroup>
        
    <!-- Any globally defined Element Groups go below here -->

    <xs:group name="configGroup">
        <xs:all>
            <xs:element name="testsuites" maxOccurs="1" minOccurs="0" type="testSuitesType"/>
            <xs:element name="groups" type="groupsType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="filter" type="filtersType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="logging" type="loggersType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="listeners" type="listenersType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="php" type="phpType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="selenium" type="seleniumType" maxOccurs="1" minOccurs="0"/>            
        </xs:all>
    </xs:group>

    <xs:group name="pathGroup">
        <xs:sequence>
            <xs:element name="directory" type="directoryFilterType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="file" type="fileFilterType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>        
    </xs:group>
    
    <xs:group name="argumentsGroup">
        <xs:sequence>
            <xs:element name="array" type="arrayType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="integer" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="double" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="null" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="object" type="objectType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="file" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="directory" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>    
    </xs:group>
    
    <xs:group name="argumentChoice">
        <xs:choice>
            <xs:element name="array" type="arrayType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="integer" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="double" type="xs:double" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="null" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="object" type="objectType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="file" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="directory" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>    
    </xs:group>

</xs:schema>